.settings-panel {
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .settings-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333; /* You can change the color as needed */
  }
  
  
  .settings-panel.open {
    right: 0;
  }
  
  #closeSettings {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
  