<footer class="site-footer">
  <div class="container foot-grid">
    <div class="foot-left">
      <div class="meta copyright">
        © <span id="year"></span> Jim Smits
          

      </div>
      

      
      
    </div>
    
    <div class="foot-right">
      <nav class="social">
        <a id="email" href="mailto:james.smits@gmail.com">james.smits@gmail.com</a>
        <a href="https://github.com/personaelit" target="_blank" rel="noopener">GitHub</a>
        <a href="https://www.linkedin.com/in/jim-smits-93633b165/" target="_blank" rel="noopener">LinkedIn</a>
        <!-- <a href="https://blog.infiniteframeworks.com/" target="_blank" rel="noopener">Blog</a> -->
      </nav>

    </div>

    <div class="meta mantra">
       🖤 self 🖤 beloved 🖤 community 🖤 world
      </div>
  </div>
</footer>