/* style.css */

#circleContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;

  }
  
  /* Add to your existing CSS */
.control-panel {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    z-index: 10; /* Ensure it's above the circle content */
  }
  
  .control-btn {
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid #fa5252;
    background-color:#f83030;
    color:whitesmoke;

    cursor: pointer;
    margin-left: 2px;
  }
  