<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
    <link rel="stylesheet" href="../../personaelit.css">
    <link rel="stylesheet" href="../article-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-powershell.min.js"></script>
    <script src="../../personaelit.js"></script>
</head>

<body>
    <header class="article-header">
        <h1 id="title">{{heading}}</h1>
        <div id="subtitle">{{subtitle}}</div>
    </header>
    <main id="content" class="article">
        <div class="clipped-image">
            <img src="header.png" alt="{{header-image-alt-text}}" />
        </div>
        <div class="publish-date">{{publish-date}}</div>
       {{content}}
    </main>
    <nav class="article-nav">
        <a href="../">../</a>
    </nav>
    <span class='last-updated'>Last Updated: Thursday, 2025/02/06</span>
</body>

</html>